<div class="h-screen flex flex-col justify-center items-center">
      <h1 class="text-5xl font-mono font-bold">403</h1>
      <h2 class="text-center w-1/2">You are on a demons way my friend</h2>
      <a href="/" class="btn mt-4">Please go back &raquo;</a>
</div>