<div class="h-screen flex flex-col gap-y-4 justify-center items-center">
  <h1 class="text-3xl sm:text-5xl font-mono font-bold">Welcome Heroes</h1>
  <a href="/register" class="bg-slate-500 text-slate-100 px-4 py-2 rounded-md">Join the Guild &raquo;</a>
</div>