<div class="h-screen flex flex-col justify-center items-center">
      <h1 class="text-5xl font-mono font-bold">404</h1>
      <h2>You are on a wild goose chase my hero</h2>
      <a href="/" class="bg-slate-500 text-slate-100 px-4 py-2 rounded-md mt-4">Please go back &raquo;</a>
</div>