<div class="mt-14 px-4 py-3 flex mx-4 flex-col items-start">
      {{#with quest}}
      <h1 class="text-4xl sm:text-5xl font-mono font-bold">{{name}}</h1>
      <a href="" class="btn">Create submition</a>
      <h2>Point : {{point}}</h2>
      <h2>Created by : {{createdBy.username}}</h2>
      <h2>Description :</h2>
      <div class="border w-4/5 p-2">
            {{tomd description}}
      </div>
      {{/with}}
</div>